In [1]:
import pandas as pd

Let's load the dataset with the actual popular votes for each state.
- Note: The first 3 rows of the csv file include aggregate statistics about how the US, swing states, and non-swing states voted, but we are only interested in the data for each state, so we omit these rows.

In [2]:
df = pd.read_csv('data/national_popular_votes_2016.csv')[3:] #start from the 3rd row
df.head()

,State,Clinton (D),Trump (R),Others,Clinton %,Trump %,Others %,Dem '12 Margin,Dem '16 Margin,Margin Shift,Total '12 Votes,Total '16 Votes,Raw Votes vs. '12
3,Arizona*,"1,161,167","1,252,401","159,597",45.1%,48.7%,6.2%,-9.1%,-3.5%,5.5%,"2,299,254","2,573,165",11.9%
4,Colorado*,"1,338,870","1,202,484","238,866",48.2%,43.3%,8.6%,5.4%,4.9%,-0.5%,"2,569,521","2,780,220",8.2%
5,Florida*,"4,504,975","4,617,886","297,178",47.8%,49.0%,3.2%,0.9%,-1.2%,-2.1%,"8,474,179","9,420,039",11.2%
6,Iowa*,"653,669","800,983","111,379",41.7%,51.1%,7.1%,5.8%,-9.4%,-15.2%,"1,582,180","1,566,031",-1.0%
7,Maine*,"357,735","335,593","54,599",47.8%,44.9%,7.3%,15.3%,3.0%,-12.3%,"713,180","747,927",4.9%

Let's get rid of the columns irrelevant to our analysis:

In [3]:
categories = ['State', 'Clinton %', 'Trump %']
results = df.loc[:, categories]
results = results.reset_index(drop=True)
results.head()

       State Clinton % Trump %
0   Arizona*     45.1%   48.7%
1  Colorado*     48.2%   43.3%
2   Florida*     47.8%   49.0%
3      Iowa*     41.7%   51.1%
4     Maine*     47.8%   44.9%

The dataset puts asterisks after the state names, so let's get rid of them:

In [4]:
for i in range(len(results)):
    results.loc[:,'State'][i] = results.loc[:,'State'][i].replace("*", "")
results.head()

      State Clinton % Trump %
0   Arizona     45.1%   48.7%
1  Colorado     48.2%   43.3%
2   Florida     47.8%   49.0%
3      Iowa     41.7%   51.1%
4     Maine     47.8%   44.9%

Quick sanity check that we have the data for all 50 states + the District of Colombia:

In [5]:
results["State"].unique()

array(['Arizona', 'Colorado', 'Florida', 'Iowa', 'Maine', 'Michigan',
       'Minnesota', 'Nevada', 'New Hampshire', 'North Carolina', 'Ohio',
       'Pennsylvania', 'Wisconsin', 'Alabama', 'Alaska', 'Arkansas',
       'California', 'Connecticut', 'Delaware', 'District of Columbia',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Kansas',
       'Kentucky', 'Louisiana', 'Maryland', 'Massachusetts', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'New Jersey', 'New Mexico',
       'New York', 'North Dakota', 'Oklahoma', 'Oregon', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wyoming'], dtype=object)

In [6]:
len(results["State"].unique())

51

Save the dataframe for use in the next notebook:

In [7]:
results.to_hdf('results/df4.h5', 'results')